@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  
.cards {
  @apply w-full flex justify-center ;
  display: -webkit-flex;
  -webkit-justify-content: center;
}
.card--1 .card__img,
.card--1 .card__img--hover {
  @apply bg-redBerry;       
}

.card--2 .card__img,
.card--2 .card__img--hover {
  @apply bg-foy;       
}


.card--3 .card__img,
.card--3 .card__img--hover {
  @apply bg-detox;       
}

.card--4 .card__img,
.card--4 .card__img--hover {
  @apply bg-protein;       
}

.card--5 .card__img,
.card--5 .card__img--hover {
  @apply bg-immunity;       
}
.card--6 .card__img,
.card--6 .card__img--hover {
  @apply bg-nordic;       
}

.card--7 .card__img,
.card--7 .card__img--hover {
  @apply bg-tropical;       
}


.card__img {
  @apply invisible bg-cover bg-center bg-no-repeat w-full h-[235px] rounded-t-xl;
}
.card__info-hover {
  @apply absolute w-full opacity-0 p-4 top-0;
}
.card__img--hover {
  @apply transition-[0.2s] duration-[all] ease-[ease-out] bg-cover bg-center bg-no-repeat w-full absolute h-[235px] rounded-t-xl top-0;
}
.card {
  @apply transition-all duration-[0.4s] ease-[cubic-bezier(0.175,0.885,0,1)] bg-white w-[33.3%] relative overflow-hidden shadow-[0px_13px_10px_-7px_rgba(0,0,0,0.1)] mr-[25px] rounded-xl hover:shadow-[0px_30px_18px_-8px_rgba(0,0,0,0.1)] hover:scale-[1.10];
}
.card__info {
  @apply z-[2] bg-white pt-4 pb-6 px-6 rounded-br-xl rounded-bl-xl;
}
.card__category {
  @apply uppercase text-[13px] tracking-[2px] font-medium text-[#868686];
  font-family: "Raleway", sans-serif;
}
.card__title {
  @apply mt-[5px] mb-2.5;
  font-family: "Roboto Slab", serif;
}
.card__by {
  @apply text-xs font-medium;
  font-family: "Raleway", sans-serif;
}
.card__author {
  @apply font-semibold no-underline text-[#AD7D52];
}
.card:hover .card__img--hover {
  @apply h-full opacity-30;
}
.card:hover .card__info {
  @apply bg-transparent relative;
}
.card:hover .card__info-hover {
  @apply opacity-100;
}
}